
.main-content {
    min-height: 60vh;
}

div, label {
    display: block;
}

a {
    color: rgba(127, 173, 57, 1);
    text-decoration: none;
    background-color: transparent;
}

/*Apply orange to generic anchor tags*/
a:hover, a:focus {
text-decoration: none;
outline: none;
color: #FC8A06;
}

.site-orange-text {
    color: #FC8A06;
}

/*Orange in the Header*/
.header__top__left ul li {
    color: #FC8A06;
}

h2 {
    font-weight: bold;
}

.nice-select {
    float: none;
}

div.hero__text h2 {
    background-color: rgba(127, 173, 57, .9);
    color: white;
    /*background-color: rgba(255, 255, 255, .6);*/
}

div.blog__details__hero__text {
    background-color: rgba(127, 173, 57, .9);
}

.btn {
    border-radius: 0;
}

.btn-danger {
    background-color: #FC8A06;
    border-color: #FC8A06;
}

.btn-success {
    background-color: rgba(127, 173, 57, 1);
    border-color: rgba(127, 173, 57, 1);
}

.footer {
    margin-top: 2em;
}